<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://scontent.fscl37-1.fna.fbcdn.net/v/t1.6435-9/64422836_1284788871697355_6427985601521254400_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=1d70fc&_nc_eui2=AeHnYmMv3Hdzj7pmjwxqS27p2WiaTVqccVTZaJpNWpxxVFcfY5I8C-dvZRn8wPGmphXSiwiC9aqfA-q4ugZYEIgC&_nc_ohc=WU1-hilFK_IQ7kNvgFN-V8D&_nc_ht=scontent.fscl37-1.fna&_nc_gid=A7acL4ESxC3FmA8YZhc4YOp&oh=00_AYCYWvNHV7-MHkLAvSbYY2vkNQC6gLwf6svryzTm94GP6g&oe=670DAA92" />
    <ion-card-header>
      <ion-card-title>Mi Perfil</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Nombre: Rodolfo Andres Calvin. <br>
      Edad: 22 años. <br>
      Comuna: Isla de Pascua. <br>
      Direccion: Calle Rapa Nui con Uri Uri.
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-title>Mis Recetas</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card-subtitle>Pastel de Papa a la Calquin</ion-card-subtitle>
    2kg de Papa Pascuense, 1L de leche de Toro Bravo, 2 cucharaditas de Mantequilla de Evaporada, Carne de Guayu.
  </ion-card-content>
</ion-card>