<ion-header>
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://img-global.cpcdn.com/recipes/fadaee2fd7c899a6/680x482cq70/cazuela-de-vacuno-foto-principal.jpg" />
    <ion-card-header>
      <ion-card-title><i>Plato del Mes</i></ion-card-title><br>
      <ion-card-subtitle>Estas son Recetas que Hablan JA JA JA JA</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Ramen Chileno: Prepara este rico Ramen chileno en Menos de 30 min. 
    </ion-card-content>
  </ion-card>

  <app-lista-cliente></app-lista-cliente>

</ion-content>




